.imageContainer {
    overflow: hidden;
    object-fit: cover;
    min-height: 50vh;
    max-height: 60vh;
}

.imageContainer img{
    width: 100%;
    position: relative;
    top: -150px;
}

.textContainer {
    background-color: lightgray;
    color: black;
    font-size: 1.5em;
}