.navbar-brand {
    font-size: 3em;
}

.nav-link {
    background-color: darkgray;
    color: black;
    margin: 10px;
    border-radius: 10px;
}

@media only screen and (max-width: 572px) {
    .navRow > * {
        width: 33%;
    }
  }